# Continuous integration test of any branch.

name: CI
on:
  push:
    branches-ignore:
    - main

jobs:
  # Run Python tests on Github runner
  tox_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - name: Checkout github repo (+ download lfs dependencies)
      uses: actions/checkout@v2
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Test with tox
      run: |
        pwd
        ls -lah
        ls -lah test/test_data/for_scripts/
        tox

#    # Send Slack message on workflow failure
#    - name: Slack Failure Notification
#      if: failure()
#      uses: rtCamp/action-slack-notify@v2.0.2
#      env:
#        SLACK_COLOR: '#DF5A49'
#        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
#        SLACK_ICON: https://github.com/broadinstitute/long-read-pipelines/blob/main/.github/workflows/dnabad.png?raw=true
#        SLACK_USERNAME: long-read-pipelines

  # Run WDL tests on self-hosted runner
  branch_test:
    needs: tox_test
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2

    - name: Continuous integration test suite
      run: |
        python3 scripts/ci/run_test_suite.py

    # Send Slack message on workflow failure
    - name: Slack Failure Notification
      if: failure()
      uses: rtCamp/action-slack-notify@v2.0.2
      env:
        SLACK_COLOR: '#DF5A49'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_ICON: https://github.com/broadinstitute/long-read-pipelines/blob/main/.github/workflows/dnabad.png?raw=true
        SLACK_USERNAME: long-read-pipelines

    # Send Slack message on workflow success
    - name: Slack Success Notification
      if: success()
      uses: rtCamp/action-slack-notify@v2.0.2
      env:
        SLACK_COLOR: '#50D9C9'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_ICON: https://github.com/broadinstitute/long-read-pipelines/blob/main/.github/workflows/dnagood.png?raw=true
        SLACK_USERNAME: long-read-pipelines
